<!DOCTYPE html>
<html lang="en">
<head>
	<title>Homaj Home</title>
	<!-- CSS and JavaScript references -->
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" type="text/css" href="static/css/header.css">
	<link rel="stylesheet" type="text/css" href="static/css/home.css">
	<!-- <link rel="stylesheet" type="text/css" href="static/css/like.css"> -->
	<link rel="stylesheet" type="text/css" href="static/css/main.css">
	<link rel="stylesheet" type="text/css" href="static/fonts/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
	<script type="text/javascript" src="static/js/header.js"></script>
	<script src="static/js/home.js"></script>
	
	<!-- Ending of CSS and JavaScrit -->
	<style>
		.bt{
			position: absolute;
			margin-left: 397px;
			margin-top: -30px;
		}

	</style>
</head>
<body>
	<!-- Header section -->
<!-- <body> -->
	<nav class="navbar navbar-expand-lg fixed-top navbar-dark">
		<a class="navbar-brand" href="#">Navbar</a>
			<!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
			</button> -->
	  
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
		  <ul class="navbar-nav mr-auto">
			<li class="nav-item active">
			  <a class="nav-link" href="/profile">Profile <span class="sr-only">(current)</span></a>
			</li>
			<li class="nav-item active">
				<a class="nav-link" href="/bookmarkt">Bookmarks<span class="sr-only">(current)</span></a>
			  </li>
			<!-- <li class="nav-item">
			  <a class="nav-link" href="#">Link</a>
			</li>
			<li class="nav-item dropdown">
			  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				Dropdown
			  </a>
			  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
				<a class="dropdown-item" href="#">Action</a>
				<a class="dropdown-item" href="#">Another action</a>
				<div class="dropdown-divider"></div>
				<a class="dropdown-item" href="#">Something else here</a>
			  </div>
			</li>
			<li class="nav-item">
			  <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
			</li>
		  </ul> -->
		  <!-- <form class="form-inline">
			<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
			<button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
		  </form> -->
		</div>
	  </nav>

	<!-- <div class="headerfixed">
	<div class="header">
		<div class="wrapper">
			<a href="home.html"><img src="static/images/homaj logo 4.png" width=120 height=45 class="logoletter"/></a>
			<form id="searching">
			  <input type="text" name="search" placeholder="Search.." id="search">
			</form>
			<div class="icon-bar">
			 <ul>
			 	<li style="border-bottom: 6px solid white;"><a href="/home" onmouseover="headerchange(1);" onmouseout="headerorigin(1);"><img src="static/images/login/home.png" id="homaj-home"><p id="p1">Home</p></a></li>
			 	<li> <a href="/profile" onmouseover="headerchange(2);" onmouseout="headerorigin(2);"><img src="static/images/login/profile.png" id="homaj-profile"><p id="p2">Profile</p></a> </li>
			 	<li><a href="society.html" onmouseover="headerchange(3);" onmouseout="headerorigin(3);"><img src="static/images/login/society.png" id="homaj-society"><p id="p3">Society</p></a></li>
			 	<li> <a href="messages.html" onmouseover="headerchange(4);" onmouseout="headerorigin(4);"><img src="static/images/login/message.png" id="homaj-message"><p id="p4">Messages</p></a></li>
			 	<li><a href="#" onmouseover="headerchange(5);" onmouseout="headerorigin(5);"><img src="static/images/login/notification.png" id="homaj-notification"><p id="p5">Notifications</p></a>
			 	<div id="notify">
			 		<p>No New Notification</p>
			 		<hr style="background-color:white;width: 90%;">
			 	</div>
			 	</li>
			 </ul>	 
			</div>
		</div>
	</div>
	</div> -->
	


	<div class="content">
		<div class="wrapper">
			<div class="leftfixed">
				<div class="sidebarleft">
					<img src="static/images/p_img/{{ user[9] }}"/>
					<h1 id="sidename">{{ user[1] }}</h1>
					<p id="sidename">@{{ user[6] }}</p>
					<p id="sidename">{{ user[2] }}</p>
					<p id="country">{{ address[3] }}</p>
					<hr>
					<p id="logout"><a href="/profile">View Full Profile</a></p>
					<p id="logout"><a href="/logout">Log Out</a></p>
				</div>
			</div>

			
			<div class="mainnotfixed" id="mainnotfixed">

                <div class="allpost">
			
					{% for tweet in tweets %}
						
							{% for u in users %}
								{% if tweet[1] == u[0] %}
								
									<div class="mainpost">
										<div class="userimg"><img src="static/images/p_img/{{ u[9] }}"/>
										</div>
										<div class="username"><p class="name">{{ u[1] }}</p>
										</div>
										<form method="POST" action="/bookmark/{{ tweet[0] }}">
											<button class="btn btn-outline-success bt">Bookmark</button>
										</form>
										<p class="time">{{ tweet[3] }}</p>
										<p class="quotes">
											{{ tweet[2] }}	
										</p>
										<!-- <div class="post">
											<img class="postimg" src="static/images/login/network society.jpg"/>
										</div> -->
										
										{% if likes[tweet[0]]%}
										<div class="likedislike">
											
											<p class="like">
												<span class="nooflike" id="like1">{{ likes[tweet[0]] }}</span> likes
												<!-- <span class="nooflike" id="like1">0 </span> likes &nbsp <span class="noofdislike" id="dislike1">0 </span> dislikes -->
											</p>
										{% endif %}	
										<form method="POST" action="/like/{{ tweet[0] }}">
											<p class="likedisbttn">
												<button id="thumbsup1" class="fa fa-thumbs-up"></button>
												<!-- <span id="thumbsup1" class="fa fa-thumbs-up" onclick="increase('like1','dislike1','thumbsup1','thumbsdown1');"></span> <span id="thumbsdown1" class="fa fa-thumbs-down" onclick="decrease('like1','dislike1','thumbsup1','thumbsdown1');"></span> -->
											</p>
											</form>
										</div> 
									</div>
									<!-- </div> -->
								{% endif %}
							{% endfor %}
						
					{% endfor %}
				</div>

				<div class="main mainpost" style="margin-bottom:20px; padding-bottom:10px;">	
					<div class="userimg"><img src="static/images/p_img/{{ user[9] }}"/>
						</div>
					    <div class="username"><p class="name" style="top:15px;">{{ user[1] }}</p>
						</div>
						<form method="POST" action="/tweet">
						<p class="quotes">
							<textarea id="mypara" name=text placeholder="Share an article ,photo ,video or idea."></textarea>
						</p>
						<div class="post">
							<img id="load2" class="postimg" src=" "/>
						</div>

						<!-- <div class="postbar">
							<input type="file" accept="images/*" id="chooseimg" onchange="loadFile(event)" onmouseover="onbuttoncolor()" onmouseout="outbuttoncolor()"/> 
							<button type="button" class="imgbttn" id="imgbttn">&#x1f4f7; Images</button>
							<a type="submit" id="postmypost" class="postmypost" onclick="mypost();">Post</button>
						</div> -->
						<button class="login100-form-btn">
							Tweet
						</button>
					</form>
				</div>
				<hr>
			<!-- </div> -->
				<div class="allpost">
			
					{% for tweet in tweets %}
						
							{% for u in users %}
								{% if tweet[1] == u[0] %}
								
									<div class="mainpost">
										<div class="userimg"><img src="static/images/p_img/{{ u[9] }}"/>
										</div>
										<div class="username"><p class="name">{{ u[1] }}</p>
										</div>
										<form method="POST" action="/bookmark/{{ tweet[0] }}">
											<button class="btn btn-outline-success bt">Bookmark</button>
										</form>
										<p class="time">{{ tweet[3] }}</p>
										<p class="quotes">
											{{ tweet[2] }}	
										</p>
										<!-- <div class="post">
											<img class="postimg" src="static/images/login/network society.jpg"/>
										</div> -->
										
										{% if likes[tweet[0]]%}
										<div class="likedislike">
											
											<p class="like">
												<span class="nooflike" id="like1">{{ likes[tweet[0]] }}</span> likes
												<!-- <span class="nooflike" id="like1">0 </span> likes &nbsp <span class="noofdislike" id="dislike1">0 </span> dislikes -->
											</p>
										{% endif %}	
										<form method="POST" action="/like/{{ tweet[0] }}">
											<p class="likedisbttn">
												<button id="thumbsup1" class="fa fa-thumbs-up"></button>
												<!-- <span id="thumbsup1" class="fa fa-thumbs-up" onclick="increase('like1','dislike1','thumbsup1','thumbsdown1');"></span> <span id="thumbsdown1" class="fa fa-thumbs-down" onclick="decrease('like1','dislike1','thumbsup1','thumbsdown1');"></span> -->
											</p>
											</form>
										</div> 
									</div>
									<!-- </div> -->
								{% endif %}
							{% endfor %}
						
					{% endfor %}
				</div>
			</div>	
					<!-- <div class="mainpost">
						<div class="userimg"><img src="static/images/homaj logo.png"/>
						</div>
					    <div class="username">				 <p class="name">homaj group</p>
					    </div>
						<p class="time">8min ago</p>
						<p class="quotes">
							A gender-equal society would be one where the word 'gender' does not exist: where everyone can be themselves.
						</p>
						<div class="post">
							<img class="postimg" src="static/images/login/society.jpg"/>
						</div>

						<div class="likedislike">
							<p class="like">
								<span class="nooflike" id="like2">0 </span> likes &nbsp <span class="noofdislike" id="dislike2">0 </span> dislikes
							</p>
							<p class="likedisbttn">
								<span id="thumbsup2" class="fa fa-thumbs-up" onclick="increase('like2','dislike2','thumbsup2','thumbsdown2');"></span> <span id="thumbsdown2" class="fa fa-thumbs-down" onclick="decrease('like2','dislike2','thumbsup2','thumbsdown2');"></span>
							</p>
						</div>

					</div>  -->
					
					

				<!-- </div>  -->
				

				<!-- button to view more previous post -->
				<!-- <button type="button" id="viewmore" class="viewmore" onclick="newpost();">View More</button> -->
		
			<!-- End of main content section -->

			<!-- start of right section suggestion user -->
			<div class="rightfixed">
				<!-- <div class="suggesfixed"><b><p id="suggestion">Suggestions : </p></b></div> -->

				<!-- Start of right fixed -->
				<div class="sidebarright">
					<div class="suggesfixed"><b><p id="suggestion">Suggestions</p></b></div>
					{% for u in following %}
						<!-- {% if u[0] != user[0] %} -->
							<form method="POST" action="/follow/{{ u[0] }}">
								<div class="rightcontent">							
									<img src="static/images/p_img/{{ u[9] }}"/>
									<p class="name">{{ u[6] }}</p>
									<!-- <a type="submit" id="connect1" onclick="changelogo('connect1');">&#x271A; Follow</a> -->
									<button class= "btn btn-outline-dark" type="submit" id="connect1" >&#x271A; Follow</button>
								</div>
							</form>
							<hr>
						<!-- {% endif %} -->
					{% endfor %}
					<!-- <div class="rightcontent">
						<img src="static/images/profile/other_profile.png"/>
						<p class="name">User Name</p>
						<a href="#" id="connect2" onclick="changelogo('connect2');">&#x271A; Connect</a>
					</div>

					<div class="rightcontent">
						<img src="static/images/profile/other_profile.png"/>
						<p class="name">User Name</p>
						<a href="#" id="connect3" onclick="changelogo('connect3');">&#x271A; Connect</a>
					</div>

					<div class="rightcontent">
						<img src="static/images/profile/other_profile.png"/>
						<p class="name">User Name</p>
						<a href="#" id="connect4" onclick="changelogo('connect4');">&#x271A; Connect</a>
					</div>

					<div class="rightcontent">
						<img src="static/images/profile/other_profile.png"/>
						<p class="name">User Name</p>
						<a href="#" id="connect5" onclick="changelogo('connect5');">&#x271A; Connect</a>
					</div> -->
					<!-- End of sugested user -->
				</div>
				<!-- End of right fixed -->

			</div>
			<!-- End of right section suggestion user -->


			<!-- message bar at the bottom -->
			<!-- <div class="message" id="msg1">
				<button id="msg2" onclick="showhide()">Messaging</button>
				<p> No New Messages.</p>
			</div> -->
			<!-- End of message bar at the bottom -->

		</div>
		<!-- End of wrapper -->

	</div>
	<!-- End of content section -->
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>


</body>
</html>