<!DOCTYPE html>
<html lang="en">

<head>
	<title>Tweepy</title>
	<!-- CSS and JavaScript references -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" type="text/css" href="static/css/header.css">
	<link rel="stylesheet" type="text/css" href="static/css/home.css">
	<!-- <link rel="stylesheet" type="text/css" href="static/css/like.css"> -->
	<link rel="stylesheet" type="text/css" href="static/css/main.css">
	<link rel="stylesheet" type="text/css" href="static/fonts/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
		integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
	<script type="text/javascript" src="static/js/header.js"></script>
	<script src="static/js/home.js"></script>

	<!-- Ending of CSS and JavaScrit -->
	<style>
		.bt {
			position: absolute;
			margin-left: 397px;
			margin-top: -30px;
		}

		.bt1 {
			position: absolute;
			margin-left: 395px;
			margin-top: 12px;
		}
	</style>
</head>

<body>
	<!-- Header section -->
	<!-- <body> -->
	<nav class="navbar navbar-expand-lg fixed-top navbar-dark">
		<a class="navbar-brand" href="/home">Tweepy</a>
		<!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
			</button> -->

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a class="nav-link" href="/profile">Profile <span class="sr-only">(current)</span></a>
				</li>
				<!-- <li class="nav-item active">
					<a class="nav-link" href="/bookmarkt">Bookmarks<span class="sr-only">(current)</span></a>
				</li> -->
				<!-- <li class="nav-item">
			  <a class="nav-link" href="#">Link</a>
			</li> -->
			<li class="nav-item dropdown">
			  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				Dropdown
			  </a>
			  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
				<a class="dropdown-item" href="/mytweet">Your Tweets</a>
				<a class="dropdown-item" href="/bookmarkt">Bookmarks</a>
				<div class="dropdown-divider"></div>
				<a class="dropdown-item" href="/followers">Followers</a>
			  </div>
			</li>
			<!-- <li class="nav-item">
			  <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
			</li> -->
		  </ul>
				
		</div>
	</nav>

	



	<div class="content">
		<div class="wrapper">
			<div class="leftfixed">
				<div class="sidebarleft">
					<img src="static/images/p_img/{{ user[9] }}" />
					<h1 id="sidename">{{ user[1] }}</h1>
					<p id="sidename">@{{ user[6] }}</p>
					<p id="sidename">{{ user[2] }}</p>
					<p id="country">{{ address[3] }}</p>
					<hr>
					<p id="logout"><a href="/profile">View Full Profile</a></p>
					<p id="logout"><a href="/logout">Log Out</a></p>
				</div>
			</div>


			<div class="mainnotfixed" id="mainnotfixed">
				<div class="main mainpost" style="margin-bottom:20px; padding-bottom:10px;">
					<div class="userimg"><img src="static/images/p_img/{{ user[9] }}" />
					</div>
					<div class="username">
						<p class="name" style="top:15px;">{{ user[1] }}</p>
					</div>
					<form method="POST" action="/tweet">
						<p class="quotes">
							<textarea id="mypara" name=text
								placeholder="Share an article ,photo ,video or idea."></textarea>
						</p>
						<div class="post">
							<img id="load2" class="postimg" src=" " />
						</div>
						<button class="login100-form-btn">
							Tweet
						</button>
					</form>
				</div>
				<hr>
				<div class="allpost">
				{% for tweet in tweets %}
				{% for u in users %}
				{% if tweet[1] == u[0] %}
				
					<div class="mainpost">
						<div class="userimg"><img src="static/images/p_img/{{ u[9] }}" />
						</div>
						<div class="username">
							<p class="name">{{ u[1] }}</p>
						</div>
						<form method="POST" action="/bookmark/{{ tweet[0] }}">
							<button class="btn btn-outline-success bt">Bookmark</button>
						</form>
						
						<p class="time">{{ tweet[3] }}</p>
						<p class="quotes">
							{{ tweet[2] }}
						</p>


						
						<div class="likedislike">
							{% if likes[tweet[0]]%}
							<p class="like">
								<span class="nooflike" id="like1">{{ likes[tweet[0]] }}</span> likes

							</p>
							{% endif %}
							<form method="POST" action="/like/{{ tweet[0] }}">
								<p class="likedisbttn">
									<button id="thumbsup1" class="fa fa-thumbs-up"></button>

								</p>
							</form>
						</div>
					</div>
				
				{% endif %}
				{% endfor %}
				{% endfor %}
			</div>
			</div>
		</div>
			</div>
			<div class="rightfixed">
				<!-- <div class="suggesfixed"><b><p id="suggestion">Suggestions : </p></b></div> -->

				<!-- Start of right fixed -->
				<div class="sidebarright">
					<div class="suggesfixed"><b>
							<p id="suggestion">Suggestions</p>
						</b></div>
					{% for u in following %}
					<!-- {% if u[0] != user[0] %} -->
					<form method="POST" action="/follow/{{ u[0] }}">
						<div class="rightcontent">
							<img src="static/images/p_img/{{ u[9] }}" />
							<p class="name">{{ u[6] }}</p>
							<!-- <a type="submit" id="connect1" onclick="changelogo('connect1');">&#x271A; Follow</a> -->
							<button class="btn btn-outline-dark" type="submit" id="connect1">&#x271A; Follow</button>
						</div>
					</form>
					<hr>
					<!-- {% endif %} -->
					{% endfor %}
					
				</div>
				<!-- End of right fixed -->

			</div>
			<!-- End of right section suggestion user -->


			<!-- message bar at the bottom -->
			<!-- <div class="message" id="msg1">
				<button id="msg2" onclick="showhide()">Messaging</button>
				<p> No New Messages.</p>
			</div> -->
			<!-- End of message bar at the bottom -->

		</div>
		<!-- End of wrapper -->

	</div>
	<!-- End of content section -->
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
		integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
		crossorigin="anonymous"></script>


</body>

</html>