.tw-block-parent
	.timeline-TweetList-tweet
		.timeline-Tweet
			.timeline-Tweet-brand
				.Icon.Icon--twitter

			.timeline-Tweet-author
				.TweetAuthor
					a.TweetAuthor-link(href="#channel") 
					span.TweetAuthor-avatar 
						.Avatar 
					span.TweetAuthor-name TwitterDev 
					span.Icon.Icon--verified 
					span.TweetAuthor-screenName @TwitterDev 

			.timeline-Tweet-text We're excited for the inaugural Twitter Community Meetup
				a(href="#") @TwitterSeattle 
				span tomorrow! 
				a(href="#") #TapIntoTwitter 
				a(href="#") meetup.com/Seattle-Twitte… 

			.timeline-Tweet-metadata
				span.timeline-Tweet-timestamp 9h

			ul.timeline-Tweet-actions
				li.timeline-Tweet-action
					a.Icon.Icon--heart(href="#")

				li.timeline-Tweet-action
					a.Icon.Icon--share(href="#")